<div class="student-list-container">
  <h2>Student List</h2>
  <ul>
    <li *ngFor="let student of students" class="student-card">
      <span class="student-id">{{student.id}}.</span>
      <span class="student-name">{{student.name}}</span>
      <span class="student-email">({{student.email}})</span>
      <span class="student-course">{{student.course}}</span>
    </li>
  </ul>
</div>

<div class="student-list-container" style="margin-top: 20px;">
  <h2>All Users</h2>
  <ul class="user-list">
    <li *ngFor="let user of users">
      <a [routerLink]="['/practice', user.id, user.name]">
        <span class="student-id">#{{ user.id }}</span>
        <span class="student-name">{{ user.name }}</span>
      </a>
    </li>
  </ul>
</div>
